[Unit]
Description=vault server
Requires=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/vault
LimitNOFILE=49152
Restart=on-failure
PIDFile=/var/run/vault/vault-server.pid
ExecStart=/usr/local/bin/vault server $OPTIONS -config=/etc/vault.d/vault.hcl >>/var/log/vault.log 2>&1

[Install]
WantedBy=multi-user.target
