.terraform
# we store our cannonical packer templates in yaml only
packer/**/*.json
ansible/**/*.retry
ansible/**/vault*.zip
ansible/**/consul*.zip
**/molecule/**/.cache
**/molecule/**/.molecule
account.json
