[supervisord]
nodaemon = {{ supervisor_nodaemon }}
childlogdir = {{ supervisor_log_dir }}
user = {{ supervisor_user }}
pidfile = /var/run/supervisord.pid

[unix_http_server]
file = {{ supervisor_unix_http_server_socket_path }}
chown = {{ supervisor_user }}

[supervisorctl]
serverurl = unix://{{ supervisor_unix_http_server_socket_path }}

[include]
files = {{ supervisor_config_path }}/conf.d/*.conf

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
