[client]
user = {{ creds.zabbix.mysql_user }}
password = {{ creds.zabbix.mysql_pass }}
{% if my.server.type is defined and my.server.type == "dba" %}
host = {{ cmdb_readonly_host }}
{% elif cluster.mysql_host is defined %}
host = {{ cluster.mysql_host }}
{% endif %}
