[Unit]
Description=consul server
Requires=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul
LimitNOFILE=49152
Restart=on-failure
ExecStart=/usr/local/bin/consul agent {% if my.server.type == 'consul' %} {% if is_vagrant %} -bind {{ consul_backend_ip }} {% endif %}-server -bootstrap-expect {{ consul_cluster_size }}{% endif %} {% if my.server.type == 'vault' %} {% for consul in my.consul_members %} -join {{ consul }} {% endfor %} {% endif %} -config-file=/etc/consul.d/consul.json >>/var/log/consul.log 2>&1

[Install]
WantedBy=multi-user.target
